<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmdkhled.storemanagmentsystem">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddProductActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.CaptureActivity" />

        <provider
            android:name=".data.ProductsProvider"
            android:authorities="com.ahmdkhled.storemanagmentsystem.ProductsProvider"
            android:exported="false" />

        <activity android:name=".ui.EditProductActivity"
            android:theme="@style/NoAction"/>


        <activity
            android:name=".ui.OrderActivity"
            android:parentActivityName=".ui.MainActivity" />


        <activity android:name=".ui.ViewOrders" />


        <activity android:name=".ui.OrderDetails" />


        <activity
            android:name=".ui.ProductsActivity"
            android:parentActivityName=".ui.MainActivity" />


        <activity android:name=".ui.CategoryActivity"
            android:theme="@style/NoAction">
        </activity>

        <activity android:name=".ui.DashboardActivity"
            android:parentActivityName=".ui.MainActivity"/>
    </application>

</manifest>